{% extends 'photos/base.html' %}

{% block content %}

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>

  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="karuzela">
      {% for photo in first %}
    <div class="carousel-item active">
      <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="photo_karuzela">
    </div>
      {% endfor %}
      {% for photo in photos %}
    <div class="carousel-item">
      <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="photo_karuzela">
    </div>
      {% endfor %}
    </div>
  </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

{% endblock %}